# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/
venv/
env/
.venv/

# Save files (local only)
.saves/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific
Thumbs.db
ehthumbs.db
Desktop.ini